@media screen and (max-device-width: 600px) {
    .page-content {
        padding: 40px 0px 40px 0px;
    }
    .content-picture-section h1 {
        white-space: normal;
        padding-bottom: 0px;
    }
    .picture-links {
        display: block;
    }
    .picture-links > div {
        width: 80%;
        margin: 10% 10%;
        height: 125px;
    }
    .picture-interests.load {
        object-fit: cover;
        width: 100%;
        height: 100%;
        -o-object-position: 58% 21.2367%;
        object-position: 56% 36%;
    }
    
}

@media screen and (min-device-width: 601px) {
    .page-content {
        padding: 120px 0;
    }
    .picture-links {
        display: flex;
    }
    .picture-links > div {
        margin: 2% 2% 0 2%;
        display: inline-block;
    }
}

.content-picture-section {
    font-family: "Segoe Script", "Over the Rainbow", cursive;
    white-space: nowrap;
}

.picture-links {
    width: 100%;
}

.picture-interests {
    width: 100%;
    opacity: 0;

    -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;
}

.picture-interests.load {
    opacity: 2;
}

.picture-interests:hover {
    animation: bounce .5s infinite;
    -webkit-animation: bounce .5s infinite;
    -moz-animation: bounce .5s infinite;
    -o-animation: bounce .5s infinite;
 }

 @-webkit-keyframes bounce {
     0%,  
     100% {
        -webkit-transform: translateY(0);
     } 
     50% {
         -webkit-transform: translateY(-10px);
     }
 }
 @-moz-keyframes bounce {
     0%, 
     100% {
        -moz-transform: translateY(0);
     }
     50% {
        -moz-transform: translateY(-10px);
     }
 }
 @-o-keyframes bounce {
     0%,
     100% {
        -o-transform: translateY(0);
     }
     50% {
        -o-transform: translateY(-10px);
     }
 }
 @keyframes bounce {
     0%,  
     100% {
         transform: translateY(0);
     }
     50% {
         transform: translateY(-10px);
     }
 }

.content-notes-section {
    padding: 0 2%;
    width: 100%;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid rgb(240,240,240);
    padding-top: 8px;
}

.content-notes {
    display: block;  
    background-color: rgb(240,240,240);  
    border-radius: 5px;
    padding: 2%;
    white-space: normal;
    font-family: 'adriane', Georgia, serif;
    font-size: 16px;
}
