@media screen and (max-device-width: 600px) {
    .page-content {
        padding: 10px 0px 70px 0px;
    }
    .content-section h1 {
        white-space: normal;
        text-align: left;
        padding: 0 0 20px 20px;
    }
    .picture-links div {
        width: 20%;
    }
}

@media screen and (min-device-width: 601px) {
    .content-section {
        padding: 120px 0;
    }
    .picture-links div {
        width: 16%;
        margin: 2%;
    }
}

.content-section {
    font-family: "Segoe Script", cursive;
    white-space: nowrap;
}
.picture-links {
    display: block;
    width: 100%;
    font-size: 0px;
}
.picture-links div {
    display: inline-block;
    font-size: 0px;
}
.picture-links div img {
    width: 100%;
    opacity: 2;
}
