.content-section {
    padding: 60px 0;
    white-space: nowrap;
    font-family: "Segoe Script", cursive;
}
.picture-links {
    display: block;
    width: 100%;
    font-size: 0px;
}
.picture-links div {
    display: inline-block;
    width: 16%;
    margin: 2%;
    font-size: 0px;
}
.picture-links div img {
    width: 100%;
    opacity: 2;
}
