<div id="contentDiv" class="page-content">
  <div class="content-section">
    <h1>some of my interests include</h1>
    <div class="picture-links">
      <div>
        <img class="picture-self" src="assets/images/BWKettlebells.jpg">
      </div>
      <div>
        <img class="picture-self" src="assets/images/Crafting.jpg">
      </div>
      <div>
          <img class="picture-self" src="assets/images/Cooking.jpg">
      </div>
      <div>
        <img class="picture-self" src="assets/images/LaptopImage.jpg">
      </div>
      <div>
        <img class="picture-self" src="assets/images/Cat.jpg">
      </div>
    </div>
  </div>
</div>
