<div id="contentDiv" class="page-content">
  <div class="content-picture-section">
    <h1>some of my interests include</h1>
    <div id="pictureLinks" class="picture-links">
      <div>
        <img class="picture-interests" src="assets/images/BWKettlebells.jpg" (click)="onImageClick('iworkout')">
      </div>
      <div>
        <img class="picture-interests" src="assets/images/LaptopImage.jpg" (click)="onImageClick('iCode')">
      </div>
      <div>
        <img class="picture-interests" src="assets/images/Cooking.jpg" (click)="onImageClick('yum')">
      </div>
      <div>
        <img class="picture-interests" src="assets/images/Crafting.jpg" (click)="onImageClick('crafty')">
      </div>
      <div>
        <img class="picture-interests" src="assets/images/Cat.jpg" (click)="onImageClick('catlady')">
      </div>
    </div>
  </div>
  <div class="content-notes-section" *ngIf="showNotes">
    <div id="arrow-up" class="arrow-up" style="margin-left: 6px;"></div>
    <div class="content-notes">{{interestsText}}</div>
  </div>
</div>
