.picture-self {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 58% 21.2367%;
  text-align: left;
}

div {
  height: 100%;
}

@media screen and (max-device-width: 999px) {
  
}
