.footer-component {
    display: block;
    font-size: 18px;
    text-align: center;
    padding: 60px 0;
    background: rgba(255, 255, 255, 0.5);
    font-family: "Segoe Script", cursive;
}
.footer-component > div:first-child {
    display: block;
    width: 100%;
    text-align: center;
}
.footer-component > div {
    white-space: nowrap;
    font-size: 0px;
}
.footer-component > div > a {
    display: inline-block;
    width: 10%;
    margin: 0px 5%;
    text-align: center;
    font-size: 0px;
}

.footer-component > div > a > i {
    color: black;
    font-size: 36px;
}

.footer-component > div > a > img {
    height: 48px;
    margin-top: -17px;
}