@media screen and (max-device-width: 600px) {
    .footer-component {
        padding: 20px 0;
    }
    .footer-component > div > a > img {
        margin-top: -27px;
    }
}

@media screen and (min-device-width: 601px) {
    .footer-component {
        padding: 60px 0;
    }
    .footer-component > div > a > img {
        margin-top: -17px;
    }
}

.footer-component {
    display: block;
    background-color: rgba(200, 200, 200);
    font-size: 18px;
    text-align: center;
    font-family: "Segoe Script", cursive;
}
.footer-component > div:first-child {
    display: block;
    width: 100%;
    text-align: center;
}
.footer-component > div {
    white-space: nowrap;
    font-size: 0px;
    padding-top: 12px;
}
.footer-component > div > a {
    display: inline-block;
    color: black;
    width: 10%;
    text-align: center;
    font-size: 0px;
}
.footer-component > div > a > i {
    background-color: rgba(200, 200, 200);
    font-size: 36px;
}
.footer-component > div > a > img {
    height: 48px;
}