<div class="footer-component">
  <h1>check me out on these sites</h1>
  <div>
    <a href="https://www.linkedin.com/in/kathryn-boudreau/"><i class="fab fa-linkedin fa-2x"></i></a>
    <a href="https://github.com/kdboudreau"><i class="fab fa-github fa-2x"></i></a>
    <!-- <a href="https://public.tableau.com/profile/kathryn.boudreau#!/"><img src="assets/icons/BWtableau.png"></a> -->
    <a href="https://www.etsy.com/shop/CrafterieDesigns"><i class="fab fa-etsy fa-2x"></i></a>
    <a href="https://www.pinterest.com/kdbutler00/"><i class="fab fa-pinterest fa-2x"></i></a>
  </div>
</div>
