<div class="page-layout" style="z-index:1">
    <h2 class="portfolio-h2">
    Kathryn Boudreau is a driven, detail-oriented full-stack Software Engineer with a demonstrated history
    of delivering quality solutions and driving client satisfaction.
  </h2>
  <div class="portfolio-div">
    Since graduating from the University of Florida with a B.S. in Industrial and Systems Engineering, Kathryn
    has been working as a software engineer. She is skilled in Javascript, jQuery, CSS,
    HTML5 and SQL with additional experience in requirements gathering, documentation, reporting, and project
    management.
  </div>
  <div class="portfolio-links">
    <div>Some of my interests include</div>
    <div>
        <img class="picture-self" src="assets/images/LaptopImage.jpg">
    </div>
    <div>
      <img class="picture-self" src="assets/images/Crafting.jpg">
    </div>
    <div>
        <img class="picture-self" src="assets/images/Cooking.jpg">
    </div>
    <div>
        <img class="picture-self" src="assets/images/BWKettlebells.jpg">
    </div>
    <div>
      <img class="picture-self" src="assets/images/Cat.jpg">
    </div>
  </div>
</div>
