@media screen and (max-device-width: 999px) {
  app-header, app-portfolio {
    width: 100%;
  }
}

@media screen and (min-device-width: 1000px) {
  app-header, app-portfolio {
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }
}

 div {
   font-family: 'adriane', Georgia, serif;
 }

app-root, app-header, app-portfolio {
  height: 100%;
}

.page-layout {
  width: 100%;
  height: 100%
}
