@media screen and (max-device-width: 999px) {
  app-portfolio {
    width: 100%;
  }
}

@media screen and (min-device-width: 1000px) {
  app-portfolio {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
  }
}

div {
   font-family: 'adriane', Georgia, serif;
}

app-portfolio {
  height: 100vh;
}

app-content, app-footer, app-portfolio {
  display: block;
  width: 100vw;
}

app-footer {
  background-color: black;
}

app-portfolio {
  white-space: nowrap;
  background-image: url("assets/images/KathrynEngagement.jpg");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}