@media screen and (max-device-width: 600px) {
	h1 {
		font-size: 28px;
		margin: 0px;
	}
	h2 {
		margin: 0px;
	}
}

@media screen and (min-device-width: 601px) and (max-device-width: 900px) {
    h1 {
		font-size: 32px;
	}
}

@media screen and (min-device-width: 901px) {
	h1 {
		font-size: 40px;
	}
}

body {
	margin: 0px;
	white-space: nowrap;
	width: 100vw;
	overflow-x: hidden;
}

app-root {
	white-space: nowrap;
	width: 100vw;
}

h1 {
	display: block;
    width: 100%;
    padding: 0 0 20px 0;
	text-align: center;
	color: #006D05;
}
